body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 200%;
}
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 90px;
  color: #66bfbf;
  line-height: 2;
}
h2 {
  color: #66bfbf;
  font-family: "Montserrat", cursive;
  font-size: 2.5rem;
  color: #66bfbf;
}
h3 {
  color: #11999e;
  font-family: "Montserrat", cursive;
}
p.programmer {
  font-weight: normal;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.middle-container {
}
.bottom-container {
}
.pro {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
